.item-a {
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
  }

  .container {
    grid-template-areas: 
      "header header header"
      "footer footer footer";
    grid-template-rows: [row1-start] 1fr [row1-end row2-start] 25px [row2-end];
    grid-template-columns: auto 50px auto;    
  }

  .item-c {
    grid-column: 3 / span 2;
    grid-row: third-line / 4;
  }

  .style-logo{
    background-color: black;
    
  }

  